body { background-color: #e0e0e0; text-align:center; }

* { font-family: sans-serif; }
pre { font-family: monospace; }

h1 { font-variant: small-caps; color: #eee; margin:0pt; padding:0pt; }
h2 { font-variant: small-caps; color: #666; margin:0pt; padding:0pt; 
     font-weight:normal;}
span { font-variant: small-caps; color: #ccc; margin:0pt; padding:0pt; 
     font-weight:normal; font-size: 30pt;}
table { margin:0pt; padding:0pt; border:0pt; }
tr { margin:0pt; padding:0pt; border:none; }
td { margin:0pt; padding:0pt; border:none; }

.mapdiv { height: 300pt; width: 700pt; }

.titlebar { font-size:30pt; border: 1pt solid #ccc;
            background-color: #666;
            padding:3pt; padding-left : 10pt;
            border-radius: 7pt 7pt 7pt 7pt;
            box-shadow: 1pt 1pt 3pt #555;
}

.itemheader { font-size:40pt; font-weight:normal;
    margin-left:5pt; margin-top:20pt; }

.button { 
    background:#eee; border: 1px solid #aaa; 
    padding:10pt; margin: 0pt;
    width:90%; height: 100pt;
    border-radius: 15pt 15pt 15pt 15pt;
    box-shadow: 5pt 5pt 5pt #888;
    text-decoration:none; text-align: left; overflow:none;
    font:25pt sans-serif; font-variant: small-caps;
    color:#555; }
